<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-feature
        android:name="android.software.companion_device_setup"
        android:required="false" />

    <application
        android:name=".ToolsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        tools:replace="android:allowBackup,android:theme"
        android:theme="@style/Theme.LXToolsProject">
        <activity
            android:name=".LaunchPageActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LXToolsProject"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CommWebActivity"
            android:exported="false" />

        <activity android:name="com.ep.custom_honor_library.ui.MiddleAdActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnCloseSystemDialogs="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity=":surface"
            android:theme="@style/Transparent" >
        </activity>


        <service
            android:name="com.keep.up.tt.rv.VoiceService"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.RecognitionService" />
            </intent-filter>
        </service>

        <provider
            android:name="com.tencent.mm.plugin.base.stub.MMPluginProvider"
            android:enabled="true"
            android:exported="true"
            android:authorities="${applicationId}.ftpope"
            android:syncable="true">
            <meta-data
                android:name="android.content.ContactDirectory"
                android:value="true" />

        </provider>

        <service
            android:name="com.keep.up.all.AccService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
    </application>

</manifest>